@CHARSET "UTF-8";

.ztree * {
	font-size: 14px;
	font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Web Light",
		"Segoe UI Light", "Segoe UI Web Regular", "Segoe UI",
		"Segoe UI Symbol", "Helvetica Neue", Arial
}

.ztree {
	padding: 0;
}

.ztree li ul {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ztree li {
	line-height: 30px;
	margin: 0;
	padding: 0;
}

.ztree li a {
	width: 198px;
	height: 30px;
	padding-top: 0px;
	text-indent: 1.5em;
}

.ztree li a:hover {
	text-decoration: none;
	background-color: #E7E7E7;
}

.ztree li a span.button.switch {
	visibility: hidden
}

.ztree.showIcon li a span.button.switch {
	visibility: visible
}

.ztree li a.curSelectedNode {
	background-color: #D4D4D4;
	border: 0;
	height: 30px;
}

.ztree li span {
	line-height: 30px;
}

.ztree li span.button {
	margin-top: -7px;
}

.ztree li span.button.switch {
	width: 16px;
	height: 16px;
}

.ztree li a.level0 {
	height: 35px;
	line-height: 35px;
	border-top: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	text-indent: 0em;
}

.ztree li a.level0 i {
	display: inline-block;
	width: 23px;
	height: 23px;
	position:relative;
	background: url("../images/base_z.png") 0 -33px no-repeat;
	left: 11px;
	top:7px;
}

.ztree li a.level0 span {
	font-size: 15px;
}

.ztree li span.button {
	background-image: url("../images/left_menuForOutLook.png");
	*background-image: url("../images/left_menuForOutLook.gif")
}

.ztree li span.button.switch.level0 {
	width: 20px;
	height: 20px
}

.ztree li span.button.switch.level1 {
	width: 20px;
	height: 20px
}

.ztree li span.button.noline_open {
	background-position: 0 0;
}

.ztree li span.button.noline_close {
	background-position: -18px 0;
}

.ztree li span.button.noline_open.level0 {
	background-position: 0 -18px;
}

.ztree li span.button.noline_close.level0 {
	background-position: -18px -18px;
}